.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: 10%;

  gap: 0.15rem;
  align-items: center;
  align-content: center;
}

.lang {
  color: #040404;
  background-color: #f7c02d;
  padding: 4px;
  border-radius: 5px;
  text-decoration: none;
}
